# This is a basic workflow to help you get started with Actions
name: TestCiCDPipLine
# Controls when the action will run. 
on: push
jobs:
  TestCiCDPipLine:
    name: Lint-code base
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: CheckOut Code
        uses: actions/checkout@v2
