# This is a basic workflow to help you get started with Actions
name: TestCiCDPipLine
# Controls when the action will run. 
on: push
jobs:
  TestCiCDPipLine:
    name: Lint-code base
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: CheckOut Code
        uses: actions/checkout@v2
      - name: setup Node.js envirment
        uses: actions/setup-node@v2-beta
      - name: GitHub Action for Yarn
        uses: Borales/actions-yarn@v2.3.0
